.technologies-div {
  position: relative;
  height: 80%;
  width: 25%;
  border: 5px #29cfde solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies-div .title-div {
  position: relative;
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technologies-div .title-div p {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #ed8b17;
}
.technologies-div .list-div {
  position: relative;
  height: 80%;
  width: 90%;
  text-align: left;
}
.technologies-div .list-div li {
  position: relative;
  color: white;
  line-height: 2;
}
